.screwabout .content {
  background-color: #f6f9ff;
  padding: 40px;
  padding-bottom: 90px;
}
#screwabout .content-box {
  background-color: #f6f9ff;
}

.screwabout h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.screwabout h2 {
  font-size: 40px;
  font-weight: 700;
  color: #012970;
  padding-top: 50px;
}
.screwabout p {
  margin: 20px 0 35px 0;
  line-height: 25px;
}
.screwabout .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.screwabout .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.screwabout .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.screwabout .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# usage
--------------------------------------------------------------*/
#usage {
  background-color: #e8f1f9;
  padding: 75px 0px 75px 0px;
}

.usage {
  padding: 10px 0 10px;
}

.usages .usage-items {
  display: flex;
  flex-direction: column;
}

.usages .usage-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 60px;
  width: 100%;
}
.usages .usage-box-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usages .usage-box img {
  width: 80px;
}
.usages .screw {
  width: 250px;
  align-items: center;
}

.usages .usage-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-right: 15px;
}

.usages h3 {
  font-weight: 600;
  font-size: 35px;
  color: #012970;
  text-align: center;
}

.usages h4 {
  font-size: 12px;
  font-weight: 600;
}
.usages .usage-box:hover {
  color: #2957a3;
}
.usages .usage-box.active {
  background: #2957a3;
  color: #fff;
  border-color: #2957a3;
}

.tabsalign ul li {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  position: relative;
}

.tab_content_align ul li {
  margin-top: 10px;
  margin-left: 60px;
  padding-bottom: 10px;
  position: relative;
}
/* MOBILE VIEW */
@media (max-width: 767px) {
  .tab_content_align ul li {
    margin-left: 0px;
  }
  .nav-link {
    padding: 0.5rem 0.3rem;
  }
  .usages .usage-box {
    display: block;
  }
  .usages .usage-box p {
    padding-top: 12px;
  }
  #product_spec .spec-img {
    margin-top: 20px;
    width: 100%;
  }
  #screwabout .product-img {
    width: 90%;
    margin-left: 0px;
  }
}

.tab_content_align ul li i {
  margin-top: 5px;
}

.spec-img {
  width: 515px;
}
.product-img {
  width: 415px;
  margin-left: 140px;
}

.aside-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #263d4d;
}

#screwabout button {
  background-color: #2957a3;
}
#screwabout button a {
  color: #fff;
}

#usage {
  margin-bottom: 50px;
}
#product_spec .table td {
  text-align: center;
}
